# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual Environment
venv/
env/
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
*.swp
.DS_Store